<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.flab.commerce.domain.order.dao.OrderRepository">
  <insert id="save" parameterType="Order">
    insert into ORDERS(user_id)
    values (#{userID})
  </insert>
  <select id="findAllByUserId" resultType="Order">
    select *
    from ORDER
    where user_id = #{userId}
  </select>

  <select id="findByOrderId" resultType="Order">
    select *
    from ORDER
    where order_id = #{orderId}
  </select>
</mapper>