<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.flab.commerce.domain.product.dao.ProductOptionRepository">
  <select id="findByProductId" resultType="ProductOption">
    select *
    from PRODUCT_OPTION
    where proudct_id = #{productId}
  </select>

  <select id="findProductIdByOptionId" resultType="ProductOption">
    select product_id
    from PRODUCT_OPTION
    where option_id = #{optionId}
  </select>
</mapper>